@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Pretendard Variable', NanumGothic, sans-serif;
  user-select: none;
}

@layer utilities {
  * {
    --tw-clip-polygon: var(--tw-clip-polygon-a), var(--tw-clip-polygon-b), var(--tw-clip-polygon-c),
      var(--tw-clip-polygon-d);
    --tw-clip-polygon-a: 0 0;
    --tw-clip-polygon-b: 100% 0;
    --tw-clip-polygon-c: 100% 100%;
    --tw-clip-polygon-d: 0 100%;
  }

  .clip.polygon.a-9 {
    --tw-clip-polygon-a: 2.25vw 0;
  }

  .clip.polygon.b-9 {
    --tw-clip-polygon-b: calc(100% - 2.25vw) 0;
  }

  .clip.polygon.c-9 {
    --tw-clip-polygon-c: calc(100% - 2.25vw) 100%;
  }

  .clip.polygon.d-9 {
    --tw-clip-polygon-d: 2.25vw 100%;
  }

  .clip.polygon {
    clip-path: polygon(var(--tw-clip-polygon));
  }

  .text-outshadow {
    text-shadow: -0.1vw 0.1vw 0.3vw #000, 0.1vw 0.1vw 0.3vw #000, 0.1vw -0.1vw 0 #000,
      -0.1vw -0.1vw 0 #000;
  }

  :root {
    --cone-color1: hsl(90, 100%, 30%);
    --cone-color2: hsl(90, 100%, 70%);
  }

  .cone-glow {
    position: relative;
  }

  .cone-glow:before {
    content: '';
    position: absolute;
    left: -50%;
    top: -25vw;
    background: repeating-conic-gradient(
      var(--cone-color1) 0%,
      var(--cone-color2) 25%,
      var(--cone-color1) 50%
    );
    aspect-ratio: 1;
    width: 200%;
    animation: cone-rotate 1.5s linear infinite forwards;
  }

  @keyframes cone-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
}
